@import "variables";

body{
    .Galeria{
    background-color: green;
    background-repeat: no-repeat;
    background-size: contain;
    }
    .Info{
        background-color: blue;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .Servicios{
        background-color: red;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        grid-template-rows: 150px 350px 500px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo nav nav nav"
        "exc exc exc exc"
        "footer footer footer footer" ;
    }
    .Contacto{
        background-color: green;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
