nav.redes{
    gap: 25px;
    background-color: black;
    width: 200px
}

iframe.YT{
    @include youtube(450px,300px )
}

@mixin youtube ($width, $height) {
    width: $width;
    height: $height;
}