@import "body";
@import "variables";

a{
    text-decoration: none;
}

h3{
    color: antiquewhite;
}

.Inicio{
    display: grid;
    grid-template-rows: 150px 200px 500px ;
    grid-template-columns: 390px 200px 200px 330px ;
    grid-template-areas: 
    "titulo nav nav nav"
    "pic pic pic pic"
    "footer footer footer footer";
    background-color: brown;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.title{
    display: inline-block;
    background-image: url(../Multimedia/Inicio2.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    font-style: italic;
    color: aqua;
    grid-area: titulo;
}


.menu{
    display: flex;
    gap: 20px;
    list-style-type: none;
    background-color: beige;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    left: 500px;
    grid-area: nav;
}

div.pic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 290px;
    grid-area: pic;
}

img.doc{
    position: map-get($div: position);
    width: map-get($div: width);
    height: map-get($div: height);
    transition: height 2s, width 2s;
}

img.doc:hover{
    height: 150px; width: 150px;
}

img.port{
    @extend img.doc
}

img.port:hover{
    height: 150px; width: 150px;
}

img.ev{
    @extend img.doc
}

img.ev:hover{
    height: 150px; width: 150px;
}

img.tra{
    @extend img.doc
}

img.tra:hover{
    height: 150px; width: 150px;
}

@import "footer";

.Exclusivos{
    display: block;
    position: relative;
    grid-area: exc;
}

.About{
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
    font-style: oblique;
}

footer{
    grid-area: footer;
}

@media only screen and (max-width: 480px) {
    body.Inicio{
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    "titulo nav"
    "pic pic"
    "footer footer";
    }

    div.pic{
        justify-content: left;
        left: 30px
    }

    body.Servicios{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 600px 350px;
        grid-template-areas: 
        "titulo nav"
        "exc exc"
        "footer footer";
    }

    .menu{
    left: 0;   
    }
}